/*------------------------------------*\
    #SCSS FONT VARIABLES
\*------------------------------------*/

$font-text: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-headings: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-nav: "Helvetica Neue", Helvetica, Arial, sans-serif;

/*------------------------------------*\
    #SCSS COLOUR VARIABLES
\*------------------------------------*/

$text-color: $gray-900;
$light: $gray-100;
$dark: $gray-800;
$grey: $gray-600;
$c1: #33308e; //primary
$c2: #6cb03f; //secondary
//add more colors as needed
$colors: $c1, $c2;

$select-color: $gray-300;

/*------------------------------------*\
    #SCSS MIXINS
\*------------------------------------*/

//Scaling Text - replaces font-size rule - usage: @include scaling-text( sm, lg, 14px, 30px); (Will scale from 14px at mobile size up to 30px at large screen size.)
@mixin scaling-text($min-vw, $max-vw, $min-font-size, $max-font-size) {
    
    @if $min-vw == 'sm' {
        $min-vw: 576px;
    }
    @if $min-vw == 'md' {
        $min-vw: 768px;
    }
    @if $min-vw == 'lg' {
        $min-vw: 992px;
    }
    @if $min-vw == 'xl' {
        $min-vw: 1200px;
    }
    @if $max-vw == 'sm' {
        $max-vw: 576px;
    }
    @if $max-vw == 'md' {
        $max-vw: 768px;
    }
    @if $max-vw == 'lg' {
        $max-vw: 992px;
    }
    @if $max-vw == 'xl' {
        $max-vw: 1200px;
    }
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
  
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
      & {
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
          font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
        @media screen and (min-width: $max-vw) {
          font-size: $max-font-size;
        }
      }
    }
  }

  /*------------------------------------*\
    #ADMIN BAR Sticky menu fix
    #Adjust sticky fixed-top to offset when admin-bar is present
\*------------------------------------*/
@mixin admin-sticky-fix( $offset: 0 ) {
  $narrow-offset: 46px;
  $wide-offset: 32px;
  @if $offset != 0 and type-of($offset) == 'number' {
    $narrow-offset: $narrow-offset + $offset;
    $wide-offset: $wide-offset + $offset;
  }
  .admin-bar & {
    top: $narrow-offset;
    @media screen and (min-width: 783px) {
      top: $wide-offset;
    }
  }
}
/* Uncomment to activate */
/*
.header-nav.fixed-top{
  @include admin-sticky-fix;
}
*/