.editor-styles-wrapper{
    h1,h2,h3,h4,h5,h6{
        margin:0
    }
    p{
        margin:0;
    }
    @import 
    "libraries/bootstrap-5.0.0/bootstrap",
    "libraries/bootstrap-responsive-containers",
    "config",
    "libraries/gravity-forms",
    "layout/text",
    "layout/buttons"; //Add new block scss files here
    
    font-size: 18px;
    font-family: $font-text;
    
    .wp-block-columns, .block-editor-rich-text__editable, .block-editor-block-list__block{
        @extend .container;
    }
    .edit-post-visual-editor__post-title-wrapper {
        // Add background color here if needed
        .editor-post-title__input{
            //Add Page title styles here if needed
        }
    }
}