/*------------------------------------*\
    CONTENT BLOCK
\*------------------------------------*/

.block-content > *, .wp-block-group__inner-container {
    @extend .container;
}
.block-content{
    .alignwide {
        margin: 0 calc(25% - 25vw);
        max-width: 100vw;
        width: 100vw;
    }
    .alignfull {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;
        padding-left : 0;
        padding-right: 0;
        .alignwide{
            @extend .container;
            margin:0 auto;
            width: 100%;
        }
    }
    .alignfull > img {
        width: 100vw;
    }

    .wp-block-columns{
        margin-bottom: 0;
        @include media-breakpoint-down(md){
            padding-left: 3rem;
            padding-right: 3rem;
        }
        .wp-block-column{
            @extend .my-5;
           
        }

        
    }
    .wp-block-separator{
        max-width: 100px;
        height: 1px;
        margin:2rem auto;
        color: $grey;
    }
    ul{
        li{
            line-height: 1.2;
            padding-top: 10px;
        }
    }
 }

 .wp-block-gallery{
     padding-left: 3rem;
     padding-right: 3rem;
     .blocks-gallery-grid{
         margin:0 auto;
         .blocks-gallery-item{
             figure{
                 align-items: center;
                 justify-content: center;
                 img{
                     max-height: 150px;
                 }
             }
         }
     }
 }

 blockquote{
     border-left: solid 4px $dark;
     padding-left: 2rem;
     font-size: 1.2em;
    cite{
        font-family: $font-headings;
    }

 }