.hero{
    .back{
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position:relative;
        h2{
            font-size: 3em;
            font-weight: bold;
        }
        .break{
            display:block;
            border-bottom: solid 2px $c1;
            width: 30px;
            margin: 1em 0;
        }
        p{
            font-size: 0.9em;
            color: $dark;
        }
    }
    @include media-breakpoint-down(md){
        .back{
            padding: 3rem;
            h2{
                font-size: 2em;
            }
        }
    }
}