@for $i from 1 through length($colors) {
  .background-c#{$i},
  .bg-c#{$i},
  .c#{$i}-bg {
    background-color: nth($colors, $i);
    &.container {
      position: relative;
      z-index: 1;
     
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 100vw;
        transform: translateX(-50%);
        z-index: -1;
        background-color: nth($colors, $i);
        
      }
      &.bg-contained{
        &:after{
          display:none;
        }
      }
    }
  }
}
