// BUTTONS
@for $i from 1 through length($colors) {
  .btn-c#{$i} {
    background-color: nth($colors, $i);
    border-color: nth($colors, $i);
    &:hover,
    &:active,
    &:focus {
      background-color: darken(nth($colors, $i), 10%);
      border-color: darken(nth($colors, $i), 10%);
    }
  }
  .btn-outline-c#{$i} {
    color: nth($colors, $i);
    border-color: nth($colors, $i);
    &:hover,
    &:active,
    &:focus {
      color: #FFF;
      background: nth($colors, $i);
      border-color: nth($colors, $i);
    }
  }
}
