.navbar {
  font-family: $font-nav;
}
/* Hoverable dropdown menus */
@include media-breakpoint-up(lg) {
  .dropdown {
    .dropdown-menu {
      transition: all 0.5s;
      overflow: hidden;
      opacity: 0;
      transform-origin: top center;
      transform: scale(1, 0);
      display: block;
    }
    &:hover {
      .dropdown-menu {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
