/*
SVG ICONS WITH FILL COLOR FUNCTIONS
1. Open .svg file at https://jakearchibald.github.io/svgomg/ to optimize, then copy the code.
2. Paste the code into https://codepen.io/elliz/full/ygvgay to convert to CSS, then use as shown below
*/

@function svg-chevron-left($color) {
  @return "data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12.35' height='20'%3e%3cpath d='M12.35 2.35L4.72 10l7.63 7.65L10 20 0 10 10 0z' fill='%23" +
    str-slice("#{$color}", 2, -1) + "'/%3e%3c/svg%3e";
}

@function svg-chevron-right($color) {
  @return "data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12.35' height='20'%3e%3cpath d='M0 17.65L7.63 10 0 2.35 2.35 0l10 10-10 10z' fill='%23" +
    str-slice("#{$color}", 2, -1) + "'/%3e%3c/svg%3e";
}

@function svg-map-pin($color) {
  @return "data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='20'%3e%3cpath d='M7 0a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7zm0 9.5A2.5 2.5 0 1 1 9.5 7 2.5 2.5 0 0 1 7 9.5z' fill='%23" +
    str-slice("#{$color}", 2, -1) + "'/%3e%3c/svg%3e";
}

@function svg-facebook($color) {
  @return "data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='25'%3e%3cg style='isolation:isolate'%3e%3cpath d='M12.64 13.91l.54-4.22H9V7c0-1.23.34-2.06 2.09-2.06h2.24V1.17A27.47 27.47 0 0 0 10.07 1C6.85 1 4.64 3 4.64 6.58v3.11H1v4.22h3.64v10.83H9V13.91z' fill='%23010101' opacity='.2'/%3e%3cpath d='M11.64 12.91l.54-4.22H8V6c0-1.23.34-2.06 2.09-2.06h2.24V.17A27.47 27.47 0 0 0 9.07 0C5.85 0 3.64 2 3.64 5.58v3.11H0v4.22h3.64v10.83H8V12.91z' fill='%23" +
    str-slice("#{$color}", 2, -1) + "'/%3e%3c/g%3e%3c/svg%3e";
}
@function svg-instagram($color) {
  @return "data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3e%3cdefs%3e%3cstyle%3e.c%7bfill:%23010101%7d.d%7bfill:%23" +
    str-slice("#{$color}", 2, -1) +
    "%7d%3c/style%3e%3c/defs%3e%3cg style='isolation:isolate'%3e%3cg style='mix-blend-mode:multiply' opacity='.2'%3e%3cpath class='c' d='M12.87 3.14c3.17 0 3.55 0 4.8.07a6.32 6.32 0 0 1 2.2.41 3.67 3.67 0 0 1 1.37.88 3.75 3.75 0 0 1 .88 1.37 6.32 6.32 0 0 1 .41 2.2c.06 1.26.07 1.63.07 4.8s0 3.55-.07 4.8a6.32 6.32 0 0 1-.41 2.2 3.83 3.83 0 0 1-2.25 2.25 6.32 6.32 0 0 1-2.2.41c-1.25.06-1.63.07-4.8.07s-3.54 0-4.8-.07a6.32 6.32 0 0 1-2.2-.41 3.75 3.75 0 0 1-1.37-.88 3.67 3.67 0 0 1-.88-1.37 6.32 6.32 0 0 1-.41-2.2c-.06-1.25-.07-1.63-.07-4.8s0-3.54.07-4.8a6.32 6.32 0 0 1 .41-2.2 3.83 3.83 0 0 1 2.25-2.25 6.32 6.32 0 0 1 2.2-.41c1.26-.06 1.63-.07 4.8-.07m0-2.14C9.65 1 9.24 1 8 1.07a8.92 8.92 0 0 0-2.89.55 6.09 6.09 0 0 0-3.49 3.47A8.92 8.92 0 0 0 1.07 8C1 9.24 1 9.65 1 12.87s0 3.63.07 4.89a8.92 8.92 0 0 0 .55 2.89 6.09 6.09 0 0 0 3.47 3.47 8.92 8.92 0 0 0 2.91.55c1.26.06 1.67.07 4.89.07s3.63 0 4.89-.07a8.92 8.92 0 0 0 2.89-.55 6.09 6.09 0 0 0 3.47-3.47 8.92 8.92 0 0 0 .55-2.89c.06-1.26.07-1.67.07-4.89s0-3.63-.07-4.89a8.92 8.92 0 0 0-.55-2.89 6.09 6.09 0 0 0-3.47-3.47 8.92 8.92 0 0 0-2.89-.55C16.5 1 16.09 1 12.87 1z'/%3e%3cpath class='c' d='M12.87 6.77a6.1 6.1 0 1 0 6.1 6.1 6.1 6.1 0 0 0-6.1-6.1zm0 10.06a4 4 0 1 1 4-4 4 4 0 0 1-4 4z'/%3e%3ccircle class='c' cx='19.21' cy='6.53' r='1.42'/%3e%3c/g%3e%3cpath class='d' d='M11.87 2.14c3.17 0 3.55 0 4.8.07a6.32 6.32 0 0 1 2.2.41 3.67 3.67 0 0 1 1.37.88 3.75 3.75 0 0 1 .88 1.37 6.32 6.32 0 0 1 .41 2.2c.06 1.26.07 1.63.07 4.8s0 3.55-.07 4.8a6.32 6.32 0 0 1-.41 2.2 3.83 3.83 0 0 1-2.25 2.25 6.32 6.32 0 0 1-2.2.41c-1.25.06-1.63.07-4.8.07s-3.54 0-4.8-.07a6.32 6.32 0 0 1-2.2-.41 3.75 3.75 0 0 1-1.37-.88 3.67 3.67 0 0 1-.88-1.37 6.32 6.32 0 0 1-.41-2.2c-.06-1.25-.07-1.63-.07-4.8s0-3.54.07-4.8a6.32 6.32 0 0 1 .41-2.2 3.83 3.83 0 0 1 2.25-2.25 6.32 6.32 0 0 1 2.2-.41c1.26-.06 1.63-.07 4.8-.07m0-2.14C8.65 0 8.24 0 7 .07a8.92 8.92 0 0 0-2.91.55A6.09 6.09 0 0 0 .62 4.09 8.92 8.92 0 0 0 .07 7C0 8.24 0 8.65 0 11.87s0 3.63.07 4.89a8.92 8.92 0 0 0 .55 2.89 6.09 6.09 0 0 0 3.47 3.47 8.92 8.92 0 0 0 2.91.55c1.26.06 1.67.07 4.89.07s3.63 0 4.89-.07a8.92 8.92 0 0 0 2.89-.55 6.09 6.09 0 0 0 3.47-3.47 8.92 8.92 0 0 0 .55-2.89c.06-1.26.07-1.67.07-4.89s0-3.63-.07-4.89a8.92 8.92 0 0 0-.55-2.89A6.09 6.09 0 0 0 19.65.62a8.92 8.92 0 0 0-2.89-.55C15.5 0 15.09 0 11.87 0z'/%3e%3cpath class='d' d='M11.87 5.77a6.1 6.1 0 1 0 6.1 6.1 6.1 6.1 0 0 0-6.1-6.1zm0 10.06a4 4 0 1 1 4-4 4 4 0 0 1-4 4z'/%3e%3ccircle class='d' cx='18.21' cy='5.53' r='1.42'/%3e%3c/g%3e%3c/svg%3e";
}
@function svg-twitter($color) {
  @return "data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='25'%3e%3cg style='isolation:isolate'%3e%3cpath d='M28.7 1.44A11.72 11.72 0 0 1 25 2.89 5.77 5.77 0 0 0 20.72 1a5.92 5.92 0 0 0-5.84 6A6.19 6.19 0 0 0 15 8.36 16.47 16.47 0 0 1 3 2.09a6.15 6.15 0 0 0-.79 3 6 6 0 0 0 2.6 5 5.73 5.73 0 0 1-2.65-.75v.07a6 6 0 0 0 4.67 5.89 5.56 5.56 0 0 1-1.54.21 5.77 5.77 0 0 1-1.1-.1 5.89 5.89 0 0 0 5.46 4.16 11.58 11.58 0 0 1-7.26 2.56A10.7 10.7 0 0 1 1 22.05a16.26 16.26 0 0 0 9 2.69c10.75 0 16.63-9.13 16.63-17v-.78a11.81 11.81 0 0 0 2.92-3.1 11.18 11.18 0 0 1-3.36.94 5.93 5.93 0 0 0 2.51-3.36z' fill='%23010101' opacity='.2'/%3e%3cpath d='M27.7.44A11.72 11.72 0 0 1 24 1.89 5.77 5.77 0 0 0 19.72 0a5.92 5.92 0 0 0-5.84 6A6.19 6.19 0 0 0 14 7.36 16.47 16.47 0 0 1 2 1.09a6.15 6.15 0 0 0-.79 3 6 6 0 0 0 2.6 5 5.73 5.73 0 0 1-2.65-.75v.07a6 6 0 0 0 4.67 5.89 5.56 5.56 0 0 1-1.54.21 5.77 5.77 0 0 1-1.1-.1 5.89 5.89 0 0 0 5.46 4.16 11.58 11.58 0 0 1-7.26 2.56A10.7 10.7 0 0 1 0 21.05a16.26 16.26 0 0 0 9 2.69c10.75 0 16.63-9.13 16.63-17v-.78a11.81 11.81 0 0 0 2.92-3.1 11.18 11.18 0 0 1-3.36.94A5.93 5.93 0 0 0 27.7.44z' fill='%23" +
    str-slice("#{$color}", 2, -1) + "'/%3e%3c/g%3e%3c/svg%3e";
}
@function svg-youtube($color) {
  @return "data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='35' height='25'%3e%3cg style='isolation:isolate'%3e%3cpath d='M33.54 4.66a4.17 4.17 0 0 0-2.94-3C28 1 17.62 1 17.62 1s-10.39 0-13 .7a4.19 4.19 0 0 0-2.94 3A44.08 44.08 0 0 0 1 12.71a44.08 44.08 0 0 0 .69 8.05 4.2 4.2 0 0 0 2.94 3c2.6.7 13 .7 13 .7s10.39 0 13-.7a4.19 4.19 0 0 0 2.94-3 43.47 43.47 0 0 0 .7-8 43.47 43.47 0 0 0-.73-8.1zm-19.32 13V7.77l8.69 4.94z' fill='%23010101' opacity='.2'/%3e%3cpath d='M32.54 3.66A4.17 4.17 0 0 0 29.6.7C27 0 16.62 0 16.62 0S6.23 0 3.63.7a4.19 4.19 0 0 0-2.94 3A44.08 44.08 0 0 0 0 11.71a44.08 44.08 0 0 0 .69 8.05 4.2 4.2 0 0 0 2.94 3c2.6.7 13 .7 13 .7s10.39 0 13-.7a4.19 4.19 0 0 0 2.94-3 43.47 43.47 0 0 0 .7-8 43.47 43.47 0 0 0-.73-8.1zm-19.32 13V6.77l8.69 4.94z' fill='%23" +
    str-slice("#{$color}", 2, -1) + "'/%3e%3c/g%3e%3c/svg%3e";
}

@function svg-tripadvisor($color) {
  @return "data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='42' height='25'%3e%3cg style='isolation:isolate'%3e%3cpath d='M12.3 14.49a1.55 1.55 0 0 1-.48 1.15 1.52 1.52 0 0 1-1.13.48 1.59 1.59 0 0 1-1.16-.48 1.63 1.63 0 0 1 0-2.29 1.58 1.58 0 0 1 1.16-.47 1.51 1.51 0 0 1 1.13.47 1.56 1.56 0 0 1 .48 1.14zm20 0a1.59 1.59 0 0 1-.48 1.16 1.65 1.65 0 0 1-2.31 0 1.59 1.59 0 0 1-.48-1.16 1.53 1.53 0 0 1 .48-1.14 1.65 1.65 0 0 1 2.31 0 1.53 1.53 0 0 1 .52 1.12zm-18.06 0a3.26 3.26 0 0 0-1-2.36 3.34 3.34 0 0 0-4.74 0 3.36 3.36 0 0 0 0 4.74 3.36 3.36 0 0 0 4.74 0 3.23 3.23 0 0 0 1.04-2.38zm20 0a3.35 3.35 0 0 0-6.7 0 3.35 3.35 0 0 0 5.72 2.37 3.23 3.23 0 0 0 1.04-2.39zm-18.54 0a4.83 4.83 0 0 1-4.83 4.84 4.83 4.83 0 0 1-4.84-4.84 4.62 4.62 0 0 1 1.42-3.41 4.66 4.66 0 0 1 3.42-1.42 4.62 4.62 0 0 1 3.41 1.42 4.62 4.62 0 0 1 1.48 3.41zm20 0a4.83 4.83 0 0 1-8.25 3.41 4.62 4.62 0 0 1-1.42-3.41A4.83 4.83 0 0 1 31 9.65a4.81 4.81 0 0 1 4.84 4.82zm-16.73 0a7.7 7.7 0 0 0-2.27-5.63A7.72 7.72 0 0 0 11 6.5a7.81 7.81 0 0 0-4 1.08 8 8 0 0 0-2.91 2.93 8 8 0 0 0 0 8A8 8 0 0 0 7 21.47a7.81 7.81 0 0 0 4 1.08 7.72 7.72 0 0 0 5.67-2.36 7.73 7.73 0 0 0 2.39-5.67zm11.68-9.91A23.73 23.73 0 0 0 21 2.65a24.87 24.87 0 0 0-9.95 1.91 9.6 9.6 0 0 1 3.87.79 9.77 9.77 0 0 1 3.17 2.13 10.13 10.13 0 0 1 2.12 3.17 9.67 9.67 0 0 1 .79 3.87 10.07 10.07 0 0 1 2.8-6.94 10.34 10.34 0 0 1 3.09-2.14 9.52 9.52 0 0 1 3.76-.86zM39 14.52a7.72 7.72 0 0 0-2.34-5.66 8 8 0 0 0-11.33 0 7.7 7.7 0 0 0-2.36 5.66 7.73 7.73 0 0 0 2.36 5.67 8 8 0 0 0 11.33 0A7.75 7.75 0 0 0 39 14.52zM34.35 4.7H41a9.11 9.11 0 0 0-1.3 2 7.77 7.77 0 0 0-.7 2 9.67 9.67 0 0 1 1.91 5.85 10 10 0 0 1-14.27 9 9.93 9.93 0 0 1-3.4-2.69c-.54.65-1.29 1.68-2.24 3.11a14.45 14.45 0 0 0-.93-1.44c-.49-.7-.92-1.26-1.29-1.69a9.88 9.88 0 0 1-3.41 2.7 9.75 9.75 0 0 1-4.34 1 9.94 9.94 0 0 1-8.61-4.95 9.72 9.72 0 0 1-1.33-5A9.67 9.67 0 0 1 3 8.67a7.77 7.77 0 0 0-.7-2A9.11 9.11 0 0 0 1 4.7h6.34A20.71 20.71 0 0 1 13.5 2 28.35 28.35 0 0 1 21 1a26.57 26.57 0 0 1 7.31 1 21.27 21.27 0 0 1 6.04 2.7z' fill='%23010101' opacity='.2'/%3e%3cpath d='M11.3 13.49a1.55 1.55 0 0 1-.48 1.15 1.52 1.52 0 0 1-1.13.48 1.59 1.59 0 0 1-1.16-.48 1.63 1.63 0 0 1 0-2.29 1.58 1.58 0 0 1 1.16-.47 1.51 1.51 0 0 1 1.13.47 1.56 1.56 0 0 1 .48 1.14zm20 0a1.59 1.59 0 0 1-.48 1.16 1.65 1.65 0 0 1-2.31 0 1.59 1.59 0 0 1-.48-1.16 1.53 1.53 0 0 1 .48-1.14 1.65 1.65 0 0 1 2.31 0 1.53 1.53 0 0 1 .52 1.12zm-18.06 0a3.26 3.26 0 0 0-1-2.36 3.2 3.2 0 0 0-2.37-1 3.35 3.35 0 0 0-3.35 3.35 3.35 3.35 0 0 0 3.35 3.35 3.35 3.35 0 0 0 3.35-3.35zm20 0a3.35 3.35 0 0 0-6.7 0 3.35 3.35 0 0 0 5.72 2.37 3.23 3.23 0 0 0 1.04-2.39zm-18.54 0a4.65 4.65 0 0 1-1.42 3.43 4.65 4.65 0 0 1-3.41 1.41 4.83 4.83 0 0 1-4.84-4.84 4.62 4.62 0 0 1 1.42-3.41 4.66 4.66 0 0 1 3.48-1.42 4.62 4.62 0 0 1 3.41 1.42 4.62 4.62 0 0 1 1.42 3.41zm20 0a4.83 4.83 0 0 1-8.25 3.41 4.62 4.62 0 0 1-1.42-3.41A4.83 4.83 0 0 1 30 8.65a4.81 4.81 0 0 1 4.84 4.82zm-16.73 0a7.7 7.7 0 0 0-2.27-5.63A7.72 7.72 0 0 0 10 5.5a7.81 7.81 0 0 0-4 1.08 8 8 0 0 0-2.89 2.93 8 8 0 0 0 0 8A8 8 0 0 0 6 20.47a7.81 7.81 0 0 0 4 1.08 7.72 7.72 0 0 0 5.67-2.36 7.73 7.73 0 0 0 2.39-5.67zm11.68-9.91A23.73 23.73 0 0 0 20 1.65a24.87 24.87 0 0 0-9.95 1.91 9.6 9.6 0 0 1 3.87.79 9.77 9.77 0 0 1 3.17 2.13 10.13 10.13 0 0 1 2.12 3.17 9.67 9.67 0 0 1 .79 3.87 10.07 10.07 0 0 1 2.8-6.94 10.34 10.34 0 0 1 3.09-2.14 9.52 9.52 0 0 1 3.76-.86zM38 13.52a7.72 7.72 0 0 0-2.34-5.66 8 8 0 0 0-11.33 0 7.7 7.7 0 0 0-2.36 5.66 7.73 7.73 0 0 0 2.36 5.67 8 8 0 0 0 11.33 0A7.75 7.75 0 0 0 38 13.52zM33.35 3.7H40a9.11 9.11 0 0 0-1.3 2 7.77 7.77 0 0 0-.7 2 9.67 9.67 0 0 1 1.91 5.85 10 10 0 0 1-14.27 9 9.93 9.93 0 0 1-3.4-2.69c-.54.65-1.29 1.68-2.24 3.11a14.45 14.45 0 0 0-.93-1.44c-.49-.7-.92-1.26-1.29-1.69a9.88 9.88 0 0 1-3.41 2.7 9.75 9.75 0 0 1-4.34 1 9.94 9.94 0 0 1-8.61-4.95 9.72 9.72 0 0 1-1.33-5A9.67 9.67 0 0 1 2 7.67a7.77 7.77 0 0 0-.7-2A9.11 9.11 0 0 0 0 3.7h6.34A20.71 20.71 0 0 1 12.5 1 28.35 28.35 0 0 1 20 0a26.57 26.57 0 0 1 7.31 1 21.27 21.27 0 0 1 6.04 2.7z' fill='%23" +
    str-slice("#{$color}", 2, -1) + "'/%3e%3c/g%3e%3c/svg%3e";
}