/*------------------------------------*\
    #BASE TEXT STYLES
\*------------------------------------*/

body {
  font-family: $font-text;
  color: $text-color;
  font-size: 18px;
}
::-moz-selection {
  background: $select-color;
  text-shadow: none;
  color: #fff;
}
::selection {
  background: $select-color;
  text-shadow: none;
  color: #fff;
}

/*------------------------------------*\
    #H1-H6, P, LI, A TEXT STYLES
\*------------------------------------*/
a {
  color: $text-color;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:focus,
a:active {
  color: $c2;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
}
.primary-color {
  color: $c1;
}

.secondary-color {
  color: $c2;
}
@for $i from 1 through length($colors) {
  .c#{$i} {
    color: nth($colors, $i);
  }
  .border-c#{$i} {
    border-color: nth($colors, $i);
  }
}
