/*------------------------------------*\
    #WORDPRESS ALIGNMENT STYLES
\*------------------------------------*/

/**
 * The wordpress editor assigns these classes to text, images, captions and galleries
 */

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
p.alignleft {
  text-align: left;
  float: none;
  margin-right: 0;
}
p.alignright {
  text-align: right;
  float: none;
  margin-left: 0;
}
.centre,
.center,
.aligncentre,
.aligncenter {
  text-align: center;
}

img.aligncentre,
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
img.alignnone {
  margin: 2%;
}

.wp-caption.alignright,
div.alignright {
  margin-left: 2%;
  margin-bottom: 2%;
}
img.alignleft {
  margin-right: 2%;
  margin-bottom: 2%;
  display: block;
}
img.alignright {
  margin-left: 2%;
  margin-bottom: 2%;
  display: block;
}
img.aligncenter {
  position: relative;
  display: block;
  margin: auto;
}

/*------------------------------------*\
    #WORDPRESS IMAGE CAPTION STYLES
\*------------------------------------*/

.wp-caption-text {
  font-size: 1em;
  text-align: center;
}
.wp-caption.alignleft,
div.alignleft {
  margin-right: 2%;
  margin-bottom: 2%;
}

/*------------------------------------*\
    #WORDPRESS LI COLUMNS
\*------------------------------------*/
@include media-breakpoint-up(md) {
  .li-col-2 {
    column-count: 2;
    li {
      margin-left: 10px;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      break-inside: avoid-column;
    }
  }
  .li-col-3 {
    column-count: 3;
    li {
      margin-left: 10px;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      break-inside: avoid-column;
    }
  }
  .li-col-4 {
    column-count: 4;
    li {
      margin-left: 10px;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      break-inside: avoid-column;
    }
  }
  .li-col-5 {
    column-count: 5;
    li {
      margin-left: 10px;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      break-inside: avoid-column;
    }
  }
  .li-col-6 {
    column-count: 6;
    li {
      margin-left: 10px;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      break-inside: avoid-column;
    }
  }
}
