.container-xs-fluid {
  width: 100%;
}
@include media-breakpoint-up(sm) {
  .container-sm-fluid {
    width: 100% !important;
    max-width: none !important;
  }
}
@include media-breakpoint-up(md) {
  .container-md-fluid {
    width: 100% !important;
    max-width: none !important;
  }
}
@include media-breakpoint-up(lg) {
  .container-lg-fluid {
    width: 100% !important;
    max-width: none !important;
  }
}
@include media-breakpoint-up(xl) {
  .container-xl-fluid {
    width: 100% !important;
    max-width: none !important;
  }
}

@function breakpoint($key) {
  @return map-get($grid-breakpoints, $key);
}
.container-xs {
  width: 100%;
  max-width: none;
}
@include media-breakpoint-up(sm) {
  .container-sm,
  .container-xs {
    width: 100% !important;
    max-width: breakpoint(sm) !important;
  }
}
@include media-breakpoint-up(md) {
  .container-md,
  .container-sm,
  .container-xs {
    width: 100% !important;
    max-width: breakpoint(md) !important;
  }
}
@include media-breakpoint-up(lg) {
  .container-lg,
  .container-md,
  .container-sm,
  .container-xs {
    width: 100% !important;
    max-width: breakpoint(lg) !important;
  }
}
@include media-breakpoint-up(xl) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xs {
    width: 100% !important;
    max-width: breakpoint(xl) !important;
  }
}
