.btn > .caret,
.gform_button > .caret,
.dropup > .btn > .caret,
.dropup > .gform_button > .caret {
  border-top-color: #000 !important;
}

.gform_fields {
  padding-left: 0;
  list-style: none;
  margin-left: -15px;
  margin-right: -15px;
}
.hidden_label > label {
  display: none !important;
}

.gform_fields::after {
  content: "";
  display: table;
  clear: both;
}

.form-control,
.gform_fields input,
.gform_fields select,
.gform_fields textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.gform_fields input::-ms-expand,
.gform_fields select::-ms-expand,
.gform_fields textarea::-ms-expand {
  background-color: transparent;
  border: 0;
}

.gform_fields input:focus,
.gform_fields select:focus,
.gform_fields textarea:focus {
  color: #55595c;
  background-color: #fff;
  border-color: #66afe9;
  outline: none;
}

.gform_fields input::-webkit-input-placeholder,
.gform_fields select::-webkit-input-placeholder,
.gform_fields textarea::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}

.gform_fields input::-moz-placeholder,
.gform_fields select::-moz-placeholder,
.gform_fields textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.gform_fields input:-ms-input-placeholder,
.gform_fields select:-ms-input-placeholder,
.gform_fields textarea:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}

.gform_fields input::placeholder,
.gform_fields select::placeholder,
.gform_fields textarea::placeholder {
  color: #999;
  opacity: 1;
}

.gform_fields input:disabled,
.gform_fields select:disabled,
.gform_fields textarea:disabled,
.gform_fields input[readonly],
.gform_fields select[readonly],
.gform_fields textarea[readonly] {
  background-color: #eceeef;
  opacity: 1;
}

.gform_fields input:disabled,
.gform_fields select:disabled,
.gform_fields textarea:disabled {
  cursor: not-allowed;
}

.gform_fields select:not([size]):not([multiple]) {
  height: 2.5rem;
}

.gform_fields select:focus::-ms-value {
  color: #55595c;
  background-color: #fff;
}

.gform_fields .input-group-sm > input.form-control-static,
.gform_fields .input-group-sm > select.form-control-static,
.gform_fields .input-group-sm > textarea.form-control-static,
.gform_fields .input-group-lg > input.form-control-static,
.gform_fields .input-group-lg > select.form-control-static,
.gform_fields .input-group-lg > textarea.form-control-static {
  padding-right: 0;
  padding-left: 0;
}

.gform_fields .input-group-sm > input,
.gform_fields .input-group-sm > select,
.gform_fields .input-group-sm > textarea {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.gform_fields .input-group-sm > select:not([size]):not([multiple]) {
  height: 1.8125rem;
}

.gform_fields .input-group-lg > input,
.gform_fields .input-group-lg > select,
.gform_fields .input-group-lg > textarea {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.gform_fields .input-group-lg > select:not([size]):not([multiple]) {
  height: 3.166667rem;
}

.gform_wrapper ul.gfield_radio li,
.gform_wrapper ul.gfield_checkbox li {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
}

.gform_wrapper ul.gfield_radio li + .form-check,
.gform_wrapper ul.gfield_checkbox li + .form-check,
.gform_wrapper ul.gfield_radio .form-check + li,
.gform_wrapper ul.gfield_radio li + li,
.gform_wrapper ul.gfield_checkbox .form-check + li,
.gform_wrapper ul.gfield_checkbox li + li {
  margin-top: -0.25rem;
}

.gform_wrapper ul.gfield_radio li.disabled .form-check-label,
.gform_wrapper ul.gfield_checkbox li.disabled .form-check-label {
  color: #818a91;
  cursor: not-allowed;
}

.gform_fields .has-success input,
.has-success .gform_fields select,
.gform_fields .has-success select,
.has-success .gform_fields textarea,
.gform_fields .has-success textarea {
  border-color: #5cb85c;
}

.gform_fields .has-warning input,
.has-warning .gform_fields select,
.gform_fields .has-warning select,
.has-warning .gform_fields textarea,
.gform_fields .has-warning textarea {
  border-color: #f0ad4e;
}

.gform_fields .has-danger input,
.has-danger .gform_fields select,
.gform_fields .has-danger select,
.has-danger .gform_fields textarea,
.gform_fields .has-danger textarea {
  border-color: #d9534f;
}

.gform_button {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.gform_button:focus,
.btn.focus,
.focus.gform_button,
.gform_button:active:focus .gform_button:active.focus,
.active.gform_button:focus,
.active.focus.gform_button {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.gform_button:focus,
.gform_button:hover {
  text-decoration: none;
}

.focus.gform_button {
  text-decoration: none;
}

.gform_button:active,
.active.gform_button {
  background-image: none;
  outline: 0;
}

.disabled.gform_button,
.gform_button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

a.btn.disabled,
a.disabled.gform_button,
fieldset[disabled] a.btn,
fieldset[disabled] a.gform_button {
  pointer-events: none;
}

.gfield_description,
.validation_error,
.validation_message {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.validation_message {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.validation_message hr {
  border-top-color: #c1e2b3;
}

.validation_message .alert-link {
  color: #2b542c;
}

.gform_fields textarea {
  height: auto;
}

.gfield_required {
  color: #a94442;
}

.gform_validation_container {
  display: none;
}

.gfield_error .ginput_container {
  margin-bottom: 10px;
}

@media (min-width: 544px) {
  .form-inline .gform_fields input,
  .gform_fields .form-inline input,
  .form-inline .gform_fields select,
  .gform_fields .form-inline select,
  .form-inline .gform_fields textarea,
  .gform_fields .form-inline textarea {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .form-inline .input-group .gform_fields input,
  .gform_fields .form-inline .input-group input,
  .form-inline .input-group .gform_fields select,
  .gform_fields .form-inline .input-group select,
  .form-inline .input-group .gform_fields textarea,
  .gform_fields .form-inline .input-group textarea {
    width: auto;
  }
  .form-inline .input-group > .form-control,
  .form-inline .gform_fields .input-group > input,
  .gform_fields .form-inline .input-group > input,
  .form-inline .gform_fields .input-group > select,
  .gform_fields .form-inline .input-group > select,
  .form-inline .gform_fields .input-group > textarea,
  .gform_fields .form-inline .input-group > textarea {
    width: 100%;
  }

  .gform_wrapper ul.gfield_radio li,
  .gform_wrapper ul.gfield_radio .form-inline li,
  .form-inline .gform_wrapper ul.gfield_checkbox li,
  .gform_wrapper ul.gfield_checkbox .form-inline li {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

/* PROGRESS BARS */
.gf_progressbar {
  @extend .progress;
  background-color: $c2;
  .gf_progressbar_percentage {
    @extend .progress-bar;
    background-color: $c1;
  }
}

.ui-datepicker {
  background-color: #fff;
  border: 1px solid #66afe9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
  font-style: normal;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #2a6496;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: "Glyphicons Regular";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\E225";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\E224";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}

.gfield_list {
  width: 100%;
}

.gform_wrapper {
  .gfield_visibility_hidden {
    display: none;
  }
  .gfield_required {
    opacity: 0.5;
  }
  .has_first_name,
  .has_middle_name,
  .has_last_name {
    @extend .row;
    .name_first,
    .name_middle,
    .name_last {
      @extend .col;
    }
  }
  .validation_message {
    background-color: transparent;
    border: none;
    color: $c1;
  }
  li {
    padding-left: 15px;
    padding-right: 15px;
  }
  div[class^="col"] {
    /* padding-left: 30px;
    padding-right: 30px;*/
    li {
      padding-left: 0;
      padding-right: 0;
    }
    .row {
      /* margin-left: -30px;
      margin-right: -30px;*/
    }
  }
  .screen-reader-text {
    @include visually-hidden;
  }
  .gfield_radio,
  .gfield_checkbox {
    padding-left: 0;
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
    > li {
      width: 33%;
    }
    input {
      width: auto;
      display: inline;
      margin: 0 5px 0 0;
      vertical-align: text-top;
    }
    label {
      font-size: 0.8rem;
      margin-right: 10px;
      vertical-align: top;
      max-width: calc(100% - 35px);
    }
    li {
      max-width: 50%;
      &:before {
        display: none;
      }
    }
  }
  .gform_save_link {
    font-size: 0.9em;
    position: absolute;
    right: 15px;
    bottom: -40px;
  }
}
