// Default styling for the slick arrows. Creates two arrows in pure CSS, no need
// for font libraries to be included. < > 

$arrow_height: 50px;
$arrow_width:  50px;
$arrow_bg:     #ffffff;

.slick-prev, .slick-next {

  z-index:1;
  height:$arrow_height;
  width:$arrow_width;
  
  &:before, &:after {
    content:'';
    height:50%;
    width:3px;
    background:$arrow_bg;
    display:block;
    position: relative;
    opacity:1;
  }
  
  &:before {
    top:4px;
    left:20px;
  }
  
  &:after {
    top:-5px;
    left:20px;
  }

}

.slick-prev {

  left:5px;
  
  @include media-breakpoint-up(md){
    left:20px;
  }
  
  &:before {
    transform:rotate(45deg);
  }
  
  &:after {
    transform:rotate(-45deg);
  }
  
}
.slick-next {

  right:5px;
  
  @include media-breakpoint-up(md){
    right:20px;
  }
  
  &:after {
    transform:rotate(45deg);
  }
  
  &:before {
    transform:rotate(-45deg);
  }
  
}